@font-face {
    font-family: Roboto-Light;
    src: url(fonts/Roboto-Light.ttf);
   }

body {
	background-image: url(img/patt.png);
}

#logo {
	    padding: 7px 0px 1px 0px;
}

.conteiner {
	width: 1170px;
	margin: 0 auto;
}

.header	{
	padding: 25px 0;
	background-color: rgba(255,255,255,0.75);
	font-family: Roboto-Light;
}

.menu li {
	float: left;
	width: 25%;
	border-left: 1px solid #2c71b8;
	position: relative;
}

.menu li:last-child {
	border-right: 1px solid #2c71b8;
}

.menu li a {
	display: block;
	height: 50px;
	line-height: 50px;
	text-align: center;
	text-decoration: none;
	color: #2c71b8;
	font-size: 18px;
}

.menu li a:hover {
	color: white;
	background: #2c71b8;
}

.podmenu {
	display: none;
	position: absolute;
    top: 50px;
    left: -1px;
}

.podmenu li {
	float: none;
	width: 286px;
	border: none;
	background: #2c71b8;
}
.podmenu li:First-child {
	padding: 20px 0 0 0;
}
.podmenu li:last-child {
	padding: 0 0 20px 0;
}

.podmenu li a {
	color: white;
	height: 40px;
	text-align: left;
	line-height: 40px;
    padding: 0 0 0 30px;
}

.podmenu li a:hover {
	color: #2c71b8;
	background: white;
}

li:hover #Products {
	color: white;
	background: #2c71b8;
}

li:hover ul {
	display: block;
}

.col-md-9 div {
	float: right;
}

.search {
	margin: 4px 0px;
	border: 1px solid #2c71b8;
}

input[type="search"] {
	border: none;
	width: 153px;
	height: 40px;
	padding:  0 0 0 20px;
	background: rgba(255,255,255,0);
}

input[type="search"]::-webkit-input-placeholder {
    font-family: Roboto-Light;
    color: #2c71b8;
    font-size: 	18px;

}
.subsearch {
	width: 30px;
    height: 30px;
    background: #2c71b8;
    margin: 5px;
}

input[type="submit"] {
    border: none;
    background: url(img/icon4.png) no-repeat;
    margin: 8px;
    width: 15px;
}

.cart {
	width: 40px;
    height: 40px;
    margin: 5px 0px;
    background: white;
}

.cart a {
	display: block;
}

.cart img {
	margin: 10px;
	position: relative;
}

#cartnum {
	width: 20px;
	height: 20px;
	padding: 2px 6px;
	position: absolute;
	top: -5px;
    right: 50px;
	color: white;
	background: #2870ba;
	border-radius: 	10px;
	font-size: 12px;
}