@font-face {
    font-family: Roboto-Light;
    src: url(fonts/Roboto-Light.ttf);
    font-family: Roboto-Thin;
    src: url(fonts/Roboto-Thin.ttf);
/*    font-family: Roboto-Bold;
    src: url(fonts/Roboto-Bold.ttf);*/
   }

body {
	background-image: url(img/patt.png);
	width: 1920px;
}

#logo {
	    padding: 7px 0px 1px 0px;
}

.header	{
	padding: 25px 0;
	background-color: rgba(255,255,255,0.75);
	font-family: Roboto-Light;
}

.menu li {
	float: left;
	width: 25%;
	border-left: 1px solid #2c71b8;
	position: relative;
}

.menu li:last-child {
	border-right: 1px solid #2c71b8;
}

.menu li a {
	display: block;
	height: 50px;
	line-height: 50px;
	text-align: center;
	text-decoration: none;
	color: #2c71b8;
	font-size: 18px;
}

.menu li a:hover {
	color: white;
	background: #2c71b8;
}

.podmenu {
	display: none;
	position: absolute;
    top: 50px;
    left: -1px;
    z-index: 1;
}

.podmenu li {
	float: none;
	width: 279px;
	border: none;
	background: #2c71b8;
}
.podmenu li:First-child {
	padding: 20px 0 0 0;
}
.podmenu li:last-child {
	padding: 0 0 20px 0;
}

.podmenu li a {
	color: white;
	height: 40px;
	text-align: left;
	line-height: 40px;
    padding: 0 0 0 30px;
}

.podmenu li a:hover {
	color: #2c71b8;
	background: white;
}

li:hover #Products {
	color: white;
	background: #2c71b8;
}

li:hover ul {
	display: block;
}

.search {
	margin: 4px 0px;
	border: 1px solid #2c71b8;
}

input[type="search"] {
	border: none;
	width: 147px;
	height: 40px;
	padding:  0 0 0 20px;
	background: rgba(255,255,255,0);
}

input[type="search"]::-webkit-input-placeholder {
    font-family: Roboto-Light;
    color: #2c71b8;
    font-size: 	18px;

}
.subsearch {
	width: 30px;
    height: 30px;
    background: #2c71b8;
    margin: 5px;
    float: right;
}

input[type="submit"] {
    border: none;
    background: url(img/icon4.png) no-repeat;
    margin: 8px;
    width: 15px;
}

.cart {
	width: 40px;
    height: 40px;
    margin: 5px 0px;
    background: white;
}

.cart a {
	display: block;
}

.cart img {
	margin: 10px;
	position: relative;
}

#cartnum {
	width: 20px;
	height: 20px;
	padding: 2px 6px;
	position: absolute;
	top: -5px;
    right: 50px;
	color: white;
	background: #2870ba;
	border-radius: 	10px;
	font-size: 12px;
}

.baner {
	height: 400px; 
	background-color: rgba(033,066,099,0.4);
	border-bottom: 1px solid white;
}

.baner p {
	font-family: Roboto-Thin;
	font-size: 80px;
	color: white;
	text-align: center;
	line-height: 5;
	letter-spacing: 15px;
}

.DeviceTypeF {
	height: 845px;
	border-right: 1px solid white;
	background-color: rgba(102,153,204,0.4);
}

.product-card {
	height: 650px;
	border: 1px solid white;
	margin: 15px 0px;
}

.pc-header {
	height: 180px;
	background-color: rgba(202,219,237,0.7);
}
.pc-header img {
	padding: 45px 78px;
}

.pc-main {
	background-color: rgba(44,113,184,0.7);
	height: 466px;
    margin: 1px;
}

.pc-text {
	color: white;
	margin: 0 15px;
	font-size: 20px;
}

.pc-text p:first-child {
	font-size: 30px;
}

.pc-price {
	font-size: 48px;
	text-transform: bold;
	text-align: center;
	color: white;
}

.pc-button {
	border: 1px solid white;
	width: 210px;
	height: 50px;
	margin: 15px auto;
	text-align: center;
	line-height: 2.5;
}

.pc-button a {
	text-decoration: none;
	color: white;
	font-size: 20px;
	display: block;
}

.pc-button+.pc-button {
	background: rgba(86,141,198,0.9);
	text-align: right;
}

.pc-button+.pc-button div {
	float: left;
}

.pc-button-t {
	width: 163px;
}

.button-img {
	margin: 6px 6px;
}