* {
	box-sizing: border-box;
}

body {
	background-image: url(img/patt.png);
}

.conteiner {
	width: 1170px;
	margin: 0 auto;
}

.header	{
	padding: 25px 0;
	background-color: rgba(255,255,255,0.75);
}

.row:after {
	content: "";
	clear: both;
	display: block;
}

[class*="col-"] {
	float: left;
}

.col-md-3 {
	width: 25%;
}

.col-md-6 {
	width: 50%;
}

.menu li {
	float: left;
	width: 25%;
	border-left: 1px solid #2c71b8;
	position: relative;
}

.menu li:last-child {
	border-right: 1px solid #2c71b8;
}

.menu li a {
	display: block;
	height: 50px;
	line-height: 50px;
	text-align: center;
	text-decoration: none;
	/*font-size: 18px;*/
	color: #2c71b8;
}

.menu li a:hover {
	color: white;
	background: #2c71b8;
}

.search {
	width: 200px;
	height: 40px;
	margin: 5px 30px;
	border: 1px solid #2c71b8;
}

input[type="search"] {
	border: none;
	width: 198px;
	height: 38px;
	background: rgba(255,255,255,0);
	color: #2c71b8;
}

input[type="submit"] {
	width: 30px;
    height: 30px;
    border: none;
    position: relative;
    left: 160px;
    top: -33px;
    background: url(img/icon4.png) no-repeat 50% 50%;
}

.cart {
	width: 40px;
    height: 40px;
    background: white;
    position: relative;
    left: 260px;
    top: -45px;
}
.cart img {
	margin: 10px;
}