@font-face {
    font-family: Roboto-Light;
    src: url(fonts/Roboto-Light.ttf);
   }

* {
	box-sizing: border-box;
}

body {
	background-image: url(img/patt.png);
}

#logo {
	    padding: 7px 0px 1px 0px;
}

.conteiner {
	width: 1170px;
	margin: 0 auto;
}

.header	{
	padding: 25px 0;
	background-color: rgba(255,255,255,0.75);
	font-family: Roboto-Light;
}

.row:after {
	content: "";
	clear: both;
	display: block;
}

[class*="col-"] {
	float: left;
}

.col-md-3 {
	width: 25%;
}

.col-md-3 div {
	float: left;
}

.col-md-6 {
	width: 50%;
}

.menu {
	padding: 0px 8px;
}

.menu li {
	float: left;
	width: 25%;
	border-left: 1px solid #2c71b8;
	position: relative;
}

.menu li:last-child {
	border-right: 1px solid #2c71b8;
}

.menu li a {
	display: block;
	height: 50px;
	line-height: 50px;
	text-align: center;
	text-decoration: none;
	color: #2c71b8;
	font-size: 20px;
}

.menu li a:hover {
	color: white;
	background: #2c71b8;
}

.search {
	width: 200px;
	height: 40px;
	margin: 5px 0px 5px 22px;
	border: 1px solid #2c71b8;
}

input[type="search"] {
	border: none;
	width: 158px;
	height: 40px;
	padding:  0 0 0 20px;
	background: rgba(255,255,255,0);
	color: #2c71b8;
}

input[type="search"]::-webkit-input-placeholder {
    font-family: Roboto-Light;
    color: #2c71b8;
    font-size: 	20px;

}
.subsearch {
	width: 30px;
    height: 30px;
    background: #2c71b8;
    margin: 5px;
}

input[type="submit"] {
    border: none;
    background: url(img/icon4.png) no-repeat;
    margin: 9px;
    width: 15px;
}

.cart {
	width: 40px;
    height: 40px;
    margin: 5px 0px 5px 30px;
    background: white;
}
.cart img {
	margin: 10px;
}

#cartnum {
	width: 20px;
	height: 20px;
	padding: 4px;
	position: relative;
	top: -53px;
    right: 12px;
	color: white;
	background: #2870ba;
	border-radius: 	10px;
	text-align: center;
	font-size: 12px;
}

.podmenu {
	display: none;
	position: absolute;
    top: 50px;
    left: -1px;
}

.podmenu li {
	float: none;
	width: 285px;
	border: none;
	background: #2c71b8;
}
.podmenu li:First-child {
	padding: 20px 0 0 0;
}
.podmenu li:last-child {
	padding: 0 0 20px 0;
}

.podmenu li a {
	color: white;
	height: 40px;
	text-align: left;
	line-height: 40px;
    padding: 0 0 0 30px;
}

.podmenu li a:hover {
	color: #2c71b8;
	background: white;
}

li:hover ul {
	display: block;
}