*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}

body {
  font-family: var(--font-raleway);
  font-size: 14px;
  line-height: 1.5;
  font-weight: 500;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  transition: 0.3s ease-in-out;

  /* @media (prefers-color-scheme: light) {
    color: var(--color-light);
    background-color: var(--bg-main);
  }

  @media (prefers-color-scheme: dark) {
    color: var(--color-white);
    background-color: var(--color-surface-mixed-a0);
  } */

  [data-theme="light"] & {
    color: var(--color-light);
    background-color: var(--bg-main);
  }

  [data-theme="dark"] & {
    color: var(--color-white);
    background-color: var(--color-surface-mixed-a0);
  }
}
